source https://www.nuget.org/api/v2/

nuget xunit 1.9.2 framework: >= net45
nuget xunit.runner.console
nuget xunit.runner.visualstudio version_in_path: true

nuget FSharp.Formatting
nuget FAKE
nuget SourceLink.Fake
github fsharp/FAKE modules/Octokit/Octokit.fsx

